@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
    --pagecolor: #5A7A99;
    --hrcolor: #324354;
    --frcolor: #2F3A45;
    --tilecolor: black;
    --hlcolor: aliceblue;
    --ftcolor: #D9DBF1;
}

body {
    background-color: var(--pagecolor);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    max-height: 100%;
    font: 14px "Roboto Mono";
    color: var(--ftcolor);
    margin: 0;
  }
a {
    color: var(--ftcolor);
    text-decoration: none;
}
a:hover {
    color: var(--hlcolor);
}
  
  .header-card {
      background-color: #2F3A45;
      text-align: center;
      width: 100%;
      padding-top: 6%;
      padding-bottom: 2%;
      margin-top: -4%;
  }

  ol {
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      width: 90%;
      margin-top: 2vh;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .game-status {
    text-align: center;
}
  
  .square {
    background: rgb(0, 0, 0);
    border: 1px inset #51708C;
    float: left;
    color: #8494A3;
    font-size: 10vh;
    font-weight: bold;
    line-height: 13vh;
    height: 13vh;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 13vh;
  }
  
  .square:focus {
    outline: none;
    color: aliceblue;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .game-board {
      align-self: center;
      margin-bottom: 10vh;
      margin-top: 3vh;
      position: fixed;
  }
  
  .game-info {
      margin-top: 50vh;
      position: fixed;
      width: 100vw;
      height: 40vh;
      background-color: var(--frcolor);
  }

  footer {
      width: 100%;
      background-color: #2F3A45;
      text-align: left;
      bottom: 0;
      padding-left: 1vw;
      padding-bottom: 1vh;
      position: fixed;
  }

  .histbutton {
      background-color: transparent;
      border: none;
      transition-property: border;
      transition-duration: 200ms;
      color: var(--ftcolor);
  }

  .histbutton:hover {
      border: inset;
      border-color: #51708C;
      border-width: 1%;
  }